/** Template CSS **/

:root{
    --primary: #fea116;
    --light: #f1f8ff;
    --dark: #0f172b;

}
.fw-medium{
    font-weight: 500 !important;
}
.fw-semi-bold{
    font-weight: 600 !important;
}

.back-top-top{
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
/** Spinner **/

#spinner{
    opacity: 0;
    visibility: hidden;
    transition: opacity -5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show{
    transition: opacity -5s ease-out, visibility 0s linear .0s;
    visibility: visible;
    opacity: 1;
}

/** Button **/

.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary, .btn.btn-secundary {
    color: #fff;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square{
    width: 32px;
    height: 32px;
}
.btn-lg-square{
    width: 48px;
    height: 48px;
}
.btn-square, .btn-sm-square, .btn-lg-square{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}
/** Nav Bar **/

.navbar-dark .navbar-nav .nav-link{
    margin-right: 30px;
    padding: 25px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .navbar-link:hover, .navbar-dark .navbar-nav .nav-link.active{
    color: var(--primary);
}

/** Header **/

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 23, 43, .7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}